.card-group {
	//margin: 0 1em;
}

.card.card-block {

	flex-grow: 1;
	width: 30rem;
	margin: 0.5rem;

	p {
		margin: 3px 0;
	}

	.card-header,
	.table-header {
		border: 0;
	}

	.card-subtitle {
		margin-bottom: 2rem;
	}

	.card-bock-collapsed {
		width: 100%;
		margin: 0.5rem 0;
		border: 0;
	}

	.table th, .table td {
		//border-color: $card-lines;
	}

}